In [61]:
#1.You are in bank and you have given two lists of the employes who have worked in 2021.Employee name list1 are Ramesh,Suresh,Mahesh,Ali.jocob and Sarita.
#List2 contains the names of Ali,Mukesh,Mahesh,Jocob,Sai,Sarita.Write a program which helps to identify people common in both the lists.
#Please do not use any in-built function.
 
def com_mem(a, b):
    a1 = set(a)
    b1 = set(b)
  
    if (a1 & b1):      #| or operator for uncommon elements
        print(a1 & b1)
    else:
        print("No common elements")

In [62]:
a1 = ["Ramesh","Suresh","Mahesh","Ali","Jocob","Sarita"]
b1 = ["Ali","Mukesh","Mahesh","Jocob","Sai","Sarita"] 

com_mem(a1,b1)

{'Ramesh', 'Suresh', 'Sai', 'Mahesh', 'Sarita', 'Jocob', 'Ali', 'Mukesh'}

In [ ]:
#2.While entering data someone entered few names as common string "Ramesh Suresh Mohit".Write a program which seperates all the names and convert them into a list.
#Once converted in a list,please write a program which adds their age.Ramesh=25  Suresh =22 Mohit=26.

def convertl(string):       #convert string to list
    l = list(string.split(" "))
    return l
 

str1 = "Ramesh Suresh Mohit"
print(convertl(str1))

['Ramesh', 'Suresh', 'Mohit']

In [ ]:
 # to Convert a list-l to dictionary -d
 
def convertd(l):
  d = {l[i]: l[i + 1] for i in range(0, len(l), 2)}
  return d
         

l = ['Ramesh', 25, 'Suresh', 22, 'Mohit', 26]
print(convertd(l))

{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

In [1]:
#3.A few students from university have taken three exams.Name = Sam,Jacy,Tom,steve  Python= 25,26,29,28 Statistics = 23,21,19,25 SQL=29,27,28,25.Please write a 
#program which calculates mean values(no in-built function for mean) of all three tests print the highest mean value.Addition and other functions are allowed.
#Please also report who scored the highest mark in python using programming construct.

#sam =[25,23,29] ,
#Jacy=[26,21,27]
#Tom=[29,19,28]
#steve=[28,25,25]

#p=[25,26,29,28]
#st=[23,21,19,25]
#sq=[29,27,28,25]

p =[25,26,29,28]
avg_p = sum(p) / len(p)
print("Avg of Python Marks:",avg_p)

st =[23,21,19,25]
avg_st = sum(st) / len(st)
print("Avg of Statistics Marks:",avg_st)

sq =[29,27,28,25]
avg_sq = sum(sq) / len(sq)
print("Avg of SQL Marks:",avg_sq)

highest_mean=max(avg_p, avg_st, avg_sq)
print("Highest Mean :",highest_mean)

 #who scored the highest mark in python 
highest_marks= max(p)
print("Highest Mark in Python:",highest_marks)

p_score ={"Sam":25,"Jacy":26,"Tom":29,"Steve":28}
max_value = max(p_score,key=p_score.get)
print("Person who scored highest in Python is:",max_value)

Avg of Python Marks: 27.0
Avg of Statistics Marks: 22.0
Avg of SQL Marks: 27.25
Highest Mean : 27.25
Highest Mark in Python: 29
Person who scored highest in Python is: Tom

In [ ]:
 #4.If you are working in a medical store.A patient came to your medical store and asked to buy 2 strips of Paracetomal,3 strips of Azithromycin and 5 strips of 
#Vitamin C.One strip of Paracetomal costs Rs 35,One strip of Azithromycin costs Rs 39,One strip of Vitamin C  costs Rs 33.Patient gave you Rs 2000.
#Please tell us what is the total cost of each medicine,total cost of all medicine and how much money you refunded to the patient.

#d2 ={"Paracetomal":2,"Azithromycin":3,"Vitamin C":5}
#d3 ={"Paracetomal":35,"Azithromycin":39,"Vitamin C":33}
#amount = 2000
#take 2 list  a=[2,3,5]     b=[35,39,33]   multiply   so each value is tc_each medicine.  
 #tc_all=p=2*35  + 39*3 + 33* 5 
#money_refunded= 2000-tc_all

In [2]:
a=[2,3,5] 
b=[35,39,33]

print("List1:"+str(a))
print("List2:"+str(b))
totcost_each = [a[i]*b[i] for i in range(len(a))]
print("Total cost of each medicine is:"+str(totcost_each))

tot_all = 0
ele = 0

while(ele < len(totcost_each)):
    tot_all = tot_all + totcost_each[ele]
    ele += 1

print("Sum of all elements in given list: ", tot_all)
  

money_refunded = 2000 - tot_all
print("Refunded Amount:",money_refunded)

List1:[2, 3, 5]
List2:[35, 39, 33]
Total cost of each medicine is:[70, 117, 165]
Sum of all elements in given list:  352
Refunded Amount: 1648

In [3]:
#5.Accept a sentence as input and find the number of vowels in it.Assume that the sentence has no punctuation marks.For example i am learning python contains 6 vowels.
#This function should be applicable for all different sentences.

b = "i am learning python"
s = set()
for i in b:
  if i in "aeiou":
     s.add(i)
print(len(s))

4

In [6]:
#6.you have been Appointed by the election commission to create a website.Your first task is to work on a program which tells candidates if ther are eligible for 
#voting or not.If they are eligible your output should be "Congrats!.You are eligible.Otherwise it should tell that you have to return after X number of years.
#Eligiblity criteria for voting is 18.If someones age is 15 it should print Return after 3 years.

a = int(input("Enter Age:"))
if(a>= 18):
    print("Congrates!.You are eligible for voting")
else:
     c = 18 - (int(a))   
     print("Eligiblity criteria for voting is 18.Return after:"+str(c),"years")

Enter Age:16
Eligiblity criteria for voting is 18.Return after:2 years